server:
  port: 9090

spring:
  application:
    name: supervision-service
  boot:
    admin:
      context-path: /admin

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
